<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foolchi.safeguard" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="SafeGuard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <receiver android:name=".receiver.CallPhoneReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyAdminReceiver" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/myadmin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.LostProtectedActivity" />
        <activity android:name=".ui.SetupGuide1Activity" />
        <activity android:name=".ui.SetupGuide2Activity" />
        <activity android:name=".ui.SetupGuide3Activity" />
        <activity android:name=".ui.SetupGuide4Activity" />
        <activity android:name=".ui.SelectContactActivity" />
        <activity android:name=".ui.SmsBackupActivity" />
        <activity android:name=".ui.AppManagerActivity" />
        <activity android:name=".ui.LockActivity"/>

        <activity android:name=".ui.ProcessManagerActivity"
            android:theme="@style/MyTitleBar"
            android:label="@string/process_manager"
            />

        <service
            android:name=".service.BackupSmsService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service android:name=".service.WatchDogService"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:authorities="com.foolchi.safeguard.applockprovider"
            android:name="com.foolchi.safeguard.engine.AppLockProvider"
            android:exported="false"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

</manifest>
